.btn {
    padding: 0 14px;
    min-width: 113px;
    max-width: 174px;
    height: 43px;
    background: #D2E1FF;
    border: none;
    a {
        font-family: 'Quicksand';
        font-weight: 700;
        font-size: 13px;
        color: #3A79FF;
    }
}