.customers {
    min-height: 146px;
    display: flex;
    align-items: center;
    &__logos {
        width: unset;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(24px, 1fr));
        row-gap: 16px;
        justify-content: center;
        justify-items: center;
        margin: auto 0;
    }
}