.get-started {
    min-height: 447px;
    padding: 94px 0 88px 0;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
    &__subtitle {
        color: #fff;
    }
    &__title {
        font-family: 'Quicksand';
        font-weight: 300;
        font-size: 48px;
        color: #FFFFFF;
        span {
            font-weight: 700;
        }
    }
    &__descr {
        margin: 40px auto;
        max-width: 712px;
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: 0.03em;
        text-align: center;
        color: #FFFFFF;
    }
    &__btns {
        margin: 0 auto;
        max-width: fit-content;
        display: flex;
    }
    &__btn {
        min-width: 130px;
        border-radius: 2px 0 0 2px;
        background: #FFFFFF;
        box-shadow: 0px 5px 15px #6480E8;
        a {
            color: #565F82;
        }
        &_transparent {
            background: transparent;
            border: 1px solid #A0B4FF;
            border-left: 0;
            border-radius: 0 2px 2px 0;
            a {
                color: #fff;
                font-weight: 100;
            }
        }
    }
}