.increase {
    min-height: 570px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    padding: 92px 0 92px 0;
    &__title {
        font-family: 'Quicksand';
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        text-align: center;
        color: #3D4F9F;
        margin: 0;
        margin-top: 16px;   
        span {
            font-weight: 700;
        }
    }
    &__text {
        margin: 0 auto;
        margin-top: 28px;
        width: 502px;
        text-align: center;
    }
}