@media (max-width: 1225px) {
    .container {
        width: 940px;
    }
    .menu {
        width: 960px;
    }
    .plan-manage {
        &__wrapper {
            width: 940px;
        }
        &__col1 {
            width: 300px;
        }
    }
    .footer {
        height: 200px;
        padding: 40px 0;
    }
}
@media (max-width: 992px) {
    .container {
        width: 720px;
    }
    .menu {
        width: 740px;
        &__nav {
            width: 420px;
        }
        &__social-links {
            width: 280px;
        }
    }
    .plan-manage {
        padding: 50px 0 0 0;
        &__wrapper {
            width: 600px;
        }
        &__col1 {
            width: 250px;
        }
        &__col2 {
            width: 350px;
        }
        &__img {
            width: 350px;
        }
    }
    .slider {
        margin-top: 30px;
        &__item {
            width: unset;
            flex-direction: column-reverse;
            align-items: center;
            padding: 30px 0;
        }
        &__descr {
            padding: 0 30px;
        }
        &__images {
            margin-top: 25px;
        }
        &__btns {
            margin-top: 10px;
        }
    }
    .blog {
        min-height: 800px;
        padding: 40px 0;
        .slider__descr {
            padding: 0;
        }
    }
    .quotes {
        &__text {
            align-items: center;
        }
        &__title {
            font-size: 30px;
        }
        &__descr {
            text-align: center;
        }
        .mini-slider__descr {
            text-align: center;
            font-size: 12px;
        }
    }
    .faq {
        min-height: 820px;
        padding: 80px 0;
        &__questions {
            width: 100%;
        }
    }
    .news {
        &__input {
            width: 260px;
        }
        &__btn {
            width: unset;
        }
    }
}
@media (max-width: 768px) {
    .container {
        width: 540px;
    }
    .menu {
        width: 540px;
        &__nav {
            width: 400px;
        }
        &__social-links {
            width: 160px;
            justify-content: end;
        }
        &__wrapper {
            height: 120px;
            width: 40px;
            position: fixed;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            left: 3%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .increase {
        &__title {
            font-size: 32px;
        }
        &__text {
            width: 410px;
        }
    }
    .plan-manage {
        &__wrapper {
            width: 480px;
            flex-direction: column;
        }
        &__col1 {
            width: 100%;
        }
        &__subtitle, &__title, &__text {
            text-align: center;
        }
        &__text {
            margin: 0 auto;
            margin-top: 27px;
            margin-bottom: 1rem;
        }
        &__btns {
            justify-content: center;
        }
        &__col2 {
            width: 100%;
        }
        &__img {
            width: 100%;
        }
    }
    .about {
        padding: 40px 0;
        &__btns {
            margin-top: 30px;
        }
    }
    .quotes {
        padding: 0 0 40px 0;
    }
    .faq {
        &__btn {
            height: 60px;
            padding: 0;
            a {
                font-size: 12px;
            }
        }
    }
    .news {
        padding: 40px 0;
        min-height: 220px;
        &__wrapper {
            flex-wrap: wrap;
        }
        &__form {
            margin-top: 20px;
            width: 100%;
        }
        &__input {
            width: 70%;
        }
        &__btn {
            width: 10%;
        }
    }
    .footer {
        .menu {
            &__social-links {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .btn {
        min-width: 80px;
        a {
            font-size: 11px;
        }
    }
    .container {
        width: 100%;
        padding: 0 5%;
    }
    .behind {
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 10;
    }
    .hamburger {
        display: flex;
        z-index: 10;
    }
    header {
        .menu {
            position: fixed;
            right: -100%;
            width: 80%;
            height: 100vh;
            flex-direction: column;
            background: rgba($color: #000000, $alpha: 0.6);
            transition: 0.4s all;
            &_active {
                right: 0;
            }
            &__nav {
                width: 70%;
                height: 70%;
                flex-direction: column;
            }
            &__logo, &__social-links {
                display: none;
            }
            &__link {
                color: #fff;
                transition: 0.2s all;
                &:hover {
                    color: #fff;
                    text-shadow: 0px 3px 5px #fff;
                }
            }
        }
    }
    .increase {
        &__text {
            width: auto;
            max-width: 350px;
        }
    }
    .customers {
        padding: 40px 0;
        &__logo {
            max-width: 80px;
            img {
                width: 100%
            };
        }
    }
    .plan-manage {
        min-height: 300px;
        padding: 50px 5%;
        &__wrapper {
            width: 100%;
            padding: 0 10px;
        }
        &__title {
            font-size: 30px;
        }
        &__col2 {
            display: none;
        }
    }
    .about {
        padding: 50px;
        &__btns {
            margin-top: 30px;
            width: 200px;
        }
    }
    .stats {
        &__col1 {
            padding-right: 40px;
            font-size: 36px;
        }
        &__col1_descr, &__col2_descr {
            font-size: 14px;
        }
        &__col2 {
            padding-left: 40px;
            font-size: 36px;
        }
    }
    .quotes {
        &__wrapper {
            grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
            grid-template-rows: repeat(auto-fit,minmax(195px,1fr));
            gap: 20px 85px;
        }
        &__descr {
            width: 100%;
        }
    }
    .blog {
        min-height: 700px;
    }
    .slider {
        &__item {
            padding: 30px 20px;
        }
        &__descr {
            width: 100%;
        }
        &__title {
            font-size: 22px
        }
        &__text {
            margin-top: 10px;
            line-height: 20px;
        }
        &__images {
            max-width: 408px;
            display: flex;
            width: 100%;
        }
        &__btns {
            margin-top: 20px;
            .btn {
                padding: 0 6px;
            }
        }
        &__img:nth-child(2), &__img:nth-child(3) {
            display: none;
        }
    }
    .mini-slider {
        &__item {
            display: flex;
            align-items: center;
            padding: 0 20px;
        }
        &__icon {
            width: 45px;
            height: 45px;
        }
    }
    .faq {
        padding: 40px 0;
        &__item {
            padding-left: 30px;
        }
        &__wrapper {
            flex-wrap: wrap;
        }
        &__btn {
            margin-top: 10px;
            height: 43px;
        }
        &__question:before {
            left: 8.5px;
        }
    }
    .get-started {
        &__title {
            font-size: 36px;
        }
    }
    .news {
        &__form {
            min-height: 30px;
        }
        &__input, &__btn {
            font-size: 12px;
            height: 40px;
        }
        &__input {
            width: 68%;
        }
    }
    .footer {
        height: unset;
        padding: 20px 0;
        .menu {
            min-height: 30px;
            width: 100%;
            &__nav {
                display: none;
            }
            &__social-links {
                display: flex;
                justify-content: space-between;
                margin: 0 auto;
            }
            &__btn {
                display: none;
            }
        }

        &__text {
            margin: 0;
            text-align: center;
        }
    }
}