.menu {
    margin: 0 auto;
    width: 1206px;
    min-height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__logo {
        min-width: 26px;
        height: 26px;
        background: #5E81FE;
        border-radius: 50%;
    }
    &__nav {
        width: 526px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__social-links {
        width: 320px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    &__header-mobile {
        display: none;
    }

}