.quotes {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    min-height: 479px;
    padding: 109px 0;
    .container {
        width: 100%;
        padding: 0 276px;
        display: flex;
        justify-content: space-between;
    }
    &__wrapper {
        width: 360px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__subtitle {
        margin-top: 35px;
    }
    &__title {
        margin-top: 30px;
        font-family: 'Quicksand';
        font-weight: 500;
        font-size: 36px;
        color: #3D4F9F;
    }
    &__descr {
        margin-top: 15px;
        width: 324px;
        font-family: 'Open Sans';
        font-weight: 600;
        font-size: 12px;
        line-height: 23px;
        letter-spacing: 0.03em;
        color: #A4ABC8;
    }
}